<template>
<f7-page>
    <f7-navbar title="ICO" back-link="Back" sliding></f7-navbar>

    <f7-block-title>Exams</f7-block-title>
    <div class="data-table data-table-init card">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">Exam</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(exam, index) in exams">
              <td class="label-cell">{{ exam.exam_name }}</td>
              <td class="actions-cell">
                <p><a v-on:click="openExam(exam.questions,exam.exam_name, exam.id)" class="button">Take Exam</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>












<div class="popup popup-services layout-white">
  <div class="content-block">
    <div class="row">
        <h3>Exam {{ exam_name }}</h3>
        <p><a href="#" class="link icon-only right close-popup"><i class="icon f7-icons">close_round</i></a></p>
    </div>
<form  id="form-quest">
    <div v-for="(question, index) in questions">
        <div class="content-block-title">{{ question.question }}</div>
        <div class="list-block">
            <ul>

                <li v-for="choice in question.choices">
                    <label class="label-radio item-content">
                        <input type="radio" :name="'questions['+index+']'" v-bind:value="choice">
                        <div class="item-media">
                            <i class="icon icon-form-radio"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">{{choice}}</div>
                        </div>
                    </label>
                </li>

            </ul>
        </div>
    </div>
</form>

 <div class="row">
        <div class="col-50">
          <a href="#" class="close-popup button button-fill button-big">Cancel</a>
        </div>
        <div class="col-50">
          <a v-on:click.prevent="submitExam" href="#" class="button button-fill button-big">Submit</a>
        </div>
      </div>



  </div>
</div>









</f7-page>
</template>


<script>
    export default {
        data () {
          return {
            route: {
            },
            url: {
              routeGetExams: '',
              routeSubmitExam: '',
            },
            exams: [],
            questions: {},
            exam_name: null,
            exam_id: null,
          }
        },
        created: function () {
            var that = this;
            that.url.routeGetExams = ip_address_xxx + '/api/get/quiz?section_code=' + that.$route.params.sectionCode;
            axios.get(that.url.routeGetExams).then(function(response){
                that.exams = response.data

            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
        },
        methods: {
          openExam: function (questions,exam_name,id) {
            var that = this;
            that.questions = questions


            that.exam_name = exam_name
            that.exam_id = id
            that.$f7.popup('.popup-services')
          },
          submitExam: function () {
            var that = this;
            var data = {
                id: that.exam_id,
                student_id: auth_global.id,
                answers: $('#form-quest').serializeArray()
            }

            that.url.routeSubmitExam = ip_address_xxx + '/api/get/answers';

            axios.post(that.url.routeSubmitExam,data).then(function(response){
                console.log(response)
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });

          }
        }
    }
</script>

