<template>
<f7-page>
    <f7-navbar title="ICO" back-link="Back" sliding></f7-navbar>

    <f7-block-title>Files</f7-block-title>
    <div class="data-table data-table-init card">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">File Name</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(file, index) in files">
              <td class="label-cell">{{ file.file_name }}</td>
              <td class="actions-cell">
                <p><a v-on:click="fileDownload(file.file_path)" class="button">Download</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</f7-page>
</template>

<script>
    export default {
        data () {
          return {
            route: {
            },
            url: {
              routeGetFiles: '',
            },
            files: [],
          }
        },
        created: function () {
            var that = this;
            that.url.routeGetFiles = ip_address_xxx + '/api/get/all/files?section_code=' + that.$route.params.sectionCode;
            axios.get(that.url.routeGetFiles).then(function(response){
                that.files = response.data
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
        },
        methods: {
          fileDownload: function (path) {
            var that = this;
            var new_path = ip_address_xxx + path;
            that.$f7.alert(new_path,'Download');
            navigator.app.loadUrl(new_path, {openExternal : true});

          }
        }
    }
</script>

