<template>
<f7-page>
<f7-navbar title="ICO" sliding></f7-navbar>
<div class="page-content login-screen-content">
    <div class="login-screen-title">IP Address</div>
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon f7-icons">cloud</i></div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" v-model="ip_address" placeholder="Ip Address...">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-block">
        <ul>
            <li><a href="#" v-on:click.prevent="checkingIpAdress" class="button button-fill button-big">Connect</a></li>
        </ul>
    </div>
</div>
</f7-page>
</template>

<script>
    export default {
        data () {
          return {
            route: {
              login: '/login',
            },
            url: {
                routeCheckIp: '',
            },
            ip_address: '',
          }
        },
        methods: {
          checkingIpAdress: function () {
            var that = this;
            var data = {
                ip_address: that.ip_address,
            }
            that.url.routeCheckIp = ip_address_xxx + that.ip_address + '/online-tutor/public' + '/api/checkip'
            axios.post(that.url.routeCheckIp, data).then(function(response){
                ip_address_xxx = ip_address_xxx + that.ip_address + '/online-tutor/public';
                f7.mainView.router.load({url: that.route.login});
            }).catch( function(error) {

            });
          },
        }
    }
</script>
