<template>
<f7-page>
<f7-navbar title="ICO" sliding></f7-navbar>
<div class="page-content login-screen-content">
    <div class="login-screen-title">Login</div>
    <form class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Email</div>
                        <div class="item-input">
                            <input name="email" v-model="auth.email" placeholder="Email" type="text">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Password</div>
                        <div class="item-input">
                            <input name="password" v-model="auth.password" placeholder="Password" type="password">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    <div class="list-block">
        <ul>
            <li><a v-on:click.prevent="handleAuth" href="#" class="button button-fill button-big">Login</a></li>
        </ul>
        <div class="list-block-label">
            <p>No account yet?</p>
            <p><a v-on:click.prevent="gotoRegistration" href="#" class="item-link list-button">Register</a></p>
        </div>
    </div>
</div>
</f7-page>
</template>

<script>
    export default {
        data () {
          return {
            route: {
              section: '/section',
              registration: '/registration',
            },
            auth: {
                email: '',
                password: '',
                type: 'student',
            },
            url: {
              routeLogin: '',
            },
          }
        },
        methods: {
          handleAuth: function () {
            var that = this;
            var data = {
                email: that.auth.email,
                password: that.auth.password,
            }
            that.url.routeLogin = ip_address_xxx + '/api/login'
            axios.post(that.url.routeLogin, data).then(function(response){
                var result = response.data;
                auth_global = {
                    id: result.id,
                    name: result.name,
                    email: result.email,
                    isAuthenticated: true,
                }
                that.$$('.page-on-left').remove();
                f7.mainView.router.load({url: that.route.section});
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
          },
          gotoRegistration: function () {
            var that = this;
            f7.mainView.router.load({url: that.route.registration});
          }
        }
    }
</script>

