<template>
<f7-page>
    <f7-navbar title="ICO" back-link="Back" sliding></f7-navbar>
    <div class="page-content login-screen-content">
    <div class="login-screen-title">Registration</div>
    <form class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Name</div>
                        <div class="item-input">
                            <input name="name" v-model="user.name" placeholder="Name" type="text">
                        </div>
                    </div>
                </div>
            </li>
                  <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Email</div>
                        <div class="item-input">
                            <input name="email" v-model="user.email" placeholder="Email" type="email">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Password</div>
                        <div class="item-input">
                            <input name="password" v-model="user.password" placeholder="Password" type="password">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Confirm Password</div>
                        <div class="item-input">
                            <input name="password_confirm" v-model="user.password_confirm" placeholder="Confirm Password" type="password">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    <div class="list-block">
        <ul>
            <li><a v-on:click.prevent="registerUser" href="#" class="button button-fill button-big">Register</a></li>
        </ul>
    </div>
</div>
</f7-page>
</template>

<script>
    export default {
        data () {
          return {
            route: {
              section: '/section',
              login: '/login',
            },
            user: {
                name: '',
                email: '',
                password: '',
                password_confirm: '',
                role: 'student',
            },
            url: {
              routeRegister: '',
            },
          }
        },
        methods: {
          registerUser: function () {
            var that = this;
            var data = {
                name: that.user.name,
                email: that.user.email,
                password: that.user.password,
                password_confirm: that.user.password_confirm,
                role: that.user.role,
            }
            that.url.routeRegister = ip_address_xxx + '/api/register'
            axios.post(that.url.routeRegister, data).then(function(response){
                var result = response.data;
                auth_global = {
                    id: result.id,
                    name: result.name,
                    email: result.email,
                    isAuthenticated: true,
                }
                that.$$('.page-on-left').remove();
                f7.mainView.router.load({url: that.route.section});
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
          },
        }
    }
</script>


