<template>
<f7-page>
    <f7-navbar>
        <f7-nav-left>
            <f7-link icon="icon-bars" open-panel="left"></f7-link>
        </f7-nav-left>
        <f7-nav-center sliding>ICO</f7-nav-center>
    </f7-navbar>

     <f7-block-title>Sections</f7-block-title>
    <div class="data-table data-table-init card">
      <div class="card-header">
        <div class="data-table-links">
          <p><a href="#" v-on:click.prevent="openModalEnrol" class="button">Add Section</a></p>
        </div>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="label-cell">ID</th>
              <th class="label-cell">Teacher ID</th>
              <th class="label-cell">Teacher Name</th>
              <th class="label-cell">Section Code</th>
              <th class="label-cell">Section Name</th>
              <th class="actions-cell">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(section, index) in sections">
              <td class="label-cell">{{ section.id }}</td>
              <td class="label-cell">{{ section.teacher_id }}</td>
              <td class="label-cell">{{ section.teacher_name }}</td>
              <td class="label-cell">{{ section.section_code }}</td>
              <td class="label-cell">{{ section.section_name }}</td>
              <td class="actions-cell">
                <p><a :disabled="section.attend" v-on:click="enterSection(section.section_code, index)" class="button">Attendance</a></p>
                <p><a v-on:click="enterFiles(section.section_code)" class="button">Files</a></p>
                <p><a v-on:click="enterExam(section.section_code)" class="button">Exams</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

















<div class="popup popup-services layout-white">
  <div class="content-block">
    <p>Add Section</p>
    <form class="list-block">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title label">Section Code</div>
              <div class="item-input">
                <input name="subject_code" v-model="subject_code" placeholder="Section Code" type="text">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <br>
      <div class="row">
        <div class="col-50">
          <a href="#" class="close-popup button button-fill button-big">Cancel</a>
        </div>
        <div class="col-50">
          <a v-on:click.prevent="addStudentSection" href="#" class="button button-fill button-big">Update</a>
        </div>
      </div>
    </form>
  </div>
</div>









</f7-page>
</template>

<script>
    export default {
        data () {
          return {
            sections: [],
            subject_code: '',
            route: {
              files: '/files/section_code/',
              exams: '/exams/section_code/',
            },
            url: {
              routeGetSections: '',
              routeEnterSection: '',
              routeEnrolSection: '',
            },
          }
        },
        created: function () {
            var that = this;
            that.url.routeGetSections = ip_address_xxx + '/api/get/sections?student_id=' + auth_global.id;
            axios.get(that.url.routeGetSections).then(function(response){
                that.sections = response.data
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
        },
        methods: {
          addStudentSection: function () {
            var that = this;
            var data = {
              subject_code: that.subject_code,
              student_id: auth_global.id
            }
            that.url.routeEnrolSection = ip_address_xxx + '/api/enroll/section';
            axios.post(that.url.routeEnrolSection, data).then(function(response){
                var result = response.data;
                that.sections.push(result);
                that.subject_code = ''
                that.$f7.closeModal('.popup-services')
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
          },
          openModalEnrol: function () {
            var that = this;
            that.$f7.popup('.popup-services')
          },
          enterSection: function (section_code, index) {
            var that = this;
            var data = {
              student_id: auth_global.id,
              section_code: section_code
            }
            that.url.routeEnterSection = ip_address_xxx + '/api/attendance';
            axios.post(that.url.routeEnterSection, data).then(function(response){

                if(that.sections[index].attend === false) {
                  that.sections[index].attend = true;
                }

                that.$f7.alert('Successfully entered the classroom', 'Success');
                that.$$('.page-on-left').remove();
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
          },
          enterFiles: function (section_code) {
            var that = this;
            that.$$('.page-on-left').remove();
            f7.mainView.router.load({url: that.route.files + section_code});
          },
          enterExam: function (section_code) {
            var that = this;
            that.$$('.page-on-left').remove();
            f7.mainView.router.load({url: that.route.exams + section_code});
          },
        }
    }
</script>

